/*Not sure this one is needed right now*/
.img{
    margin-left: 100px;
}

body {
    background-color: #395653;
    margin:0 auto;
}

/*All text*/
.info{
    color: black;
}

.menuText{
    font-family: "Arial";
    color: #f69e3f;
}

.bodyText{
    font-family: "Arial";
    color: #f69e3f;
}

.headingText{
    font-family: "Arial";
    color: #f69e3f;
}

.subHeadingText{
    font-family: "Arial";
    color: #f69e3f;
}
/*Carousel*/
.carousel-inner > .item > img {
    top: 0;
    left: 0;
    min-width: 10%;
    height: 500px;
}

.pos_right {
    position: relative;
    left: 0px;
}

.form {
    margin: 0 auto;
    width:600px;
}

