/*Not sure this one is needed right now*/
.img{
    margin-left: 100px;
}

body {
    background-color: #ffffff;
    margin:0 auto;
}

.featurette-divider {
    margin: 20px;
    border: 1px solid #395653;
}

.box{
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #eeeeee;
    box-shadow: 0px 3px 5px 1px silver;
}

.menuText{
    font-family: "Arial";
    color: #000000;
}

.bodyText{
    margin: 30px;
    margin-top: 0;
    font-family: "Arial";
    font-size: 16px;
    color: #395653;
    display: inline-block;
}

.headingText{
    margin: 30px;
    font-family: "Arial";
    font-size: 40px;
    color: #f69e3f;
    display: inline-block;
}

.subHeadingText{
    margin: 30px;
    font-family: "Arial";
    font-size: 20px;
    color: #f69e3f;
    display: inline-block;
}
/*Carousel*/
.carousel-inner {
    margin-bottom:0px;
}

.carousel-caption {
    bottom: -7%;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-inner .item > img {
    top: 0;
    left: 0;
    min-width: 10%;
    height: 350px;
}

.pos_right {
    position: relative;
    left: 0px;
}

.pic_left {
    float: left;
    width: 270px;
}

.pic_right {
    float: right;
    width: 270px;
}



.form {
    margin: 0 auto;
    width:600px;
}

/* navbar */
.navbar-default {
    background-color: #395653;
    border-color: #000000;
}
/* title */
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #f69e3f;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #1f3f3a;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #ffffff;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
}