/*Not sure this one is needed right now*/
.img{
    margin-left: 100px;
}

body {
    background-color: #eeeeee;
    margin:0 auto;
}

.menuText{
    font-family: "Arial";
    color: #000000;
}

.bodyText{
    font-family: "Arial";
    font-size: 16px;
    color: #395653;
}

.headingText{
    font-family: "Arial";
    font-size: 40px;
    color: #f69e3f;
}

.subHeadingText{
    font-family: "Arial";
    font-size: 20px;
    color: #f69e3f;
}
/*Carousel*/
.carousel-inner > .item > img {
    top: 0;
    left: 0;
    min-width: 10%;
    height: 500px;
}

.pos_right {
    position: relative;
    left: 0px;
}

.form {
    margin: 0 auto;
    width:600px;
}

/* navbar */
.navbar-default {
    background-color: #395653;
    border-color: #000000;
}
/* title */
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #f69e3f;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #1f3f3a;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #ffffff;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
}