<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Donate</title>

    <!-- Bootstrap - css-->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap requires jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap - js -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Angular JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    <!-- Our own CSS-->
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/date_of_birth.css">

    <!-- NAVBAR-->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="../js/Navbar.js"></script>

    <script>
        $(function () {
            $("#footer").load("footer.html");
        });
    </script>

    <script src="../js/validate.js"></script>


    <link data-require="bootstrap-css@3.0.1" data-semver="3.0.1" rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css"/>
    <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script data-require="bootstrap@3.0.1" data-semver="3.0.1"
            src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script src="../js/validate.js"></script>

    <style>
        /* Styles go here */

        .form-group .help-block {
            display: none;
        }

        .form-group.has-error .help-block {
            display: block;
        }
    </style>


</head>


<body id="Donate" background="../images/logo-big.png" style="background-repeat: no-repeat;background-attachment: fixed; background-position: bottom right; ">
<script src="../js/jquery-2.2.2.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/validate.js"></script>

<div id="navbar"></div>

<div class="container marketing">
    <img class="img-responsive center-block" src="../images/kids3_stretch.png"
         title="Three children working together on a Kids Coding exercise">
    <div class="box">
        <div class="container marketing row">

            <div class="col-md-6" style="    padding-right: 60px;">
                <h2 class="featurette-heading subHeadingText">Why Donate</h2>
                <p class="lead bodyText">
                    Help us give children the opportunity to learn a new skill in a fun and safe environment.
                    A donation from you helps the charity grow and set up more locations and so allows more
                    and more children to join the experience. If you are a member of a company that is interested
                    in working with us to train the next generation, get in touch with us using the information below
                    and see if we can arrange a date.
                </p>
                <img class="img-responsive center-block" src="../images/laptop_code.jpg"
                     title="A laptop displaying a section of code created by Kids Coding students">
            </div>

            <!-- FORM -->
            <div class="col-md-6" style="margin-top: 30px; ">
                <div ng-controller="NewUserController">
                    <form name="userForm" class="formfix" novalidate>
                        <!--NAME-->
                        <div class="form-group" show-errors='{showSuccess: true}'>
                            <label class="control-label">Name</label>
                            <input type="text" class="form-control" name="name" ng-model="user.name" required
                                   placeholder="Name"/>
                            <p class="help-block" ng-if="userForm.name.$error.required">Your name is required</p>
                        </div>

                        <!--EMAIL-->
                        <div class="form-group" show-errors='{showSuccess: true}'>
                            <label class="control-label">Email</label>
                            <input type="email" class="form-control" name="email" ng-model="user.email" required
                                   placeholder="Email"/>
                            <p class="help-block" ng-if="userForm.email.$error.required">Your email is required</p>
                            <p class="help-block" ng-if="userForm.email.$error.email">This is not a valid email
                                address</p>
                        </div>

                        <!--DONATION-->
                        <div class="form-group" show-errors='{showSuccess: true}'>
                            <label class="control-label">Donation amount</label>
                            <input type="number" class="form-control" name="donation" ng-model="user.donation" required
                                   placeholder="Donation"
                                   min="5"/>
                            <p class="help-block" ng-if="userForm.donation.$error.required">A donation amount is
                                required</p>
                            <p class="help-block" ng-if="userForm.donation.$error.min">A minimum donation of £5 is
                                required</p>
                            <p class="help-block" ng-if="userForm.donation.$error.number">This is not a number</p>
                        </div>

                        <!--DONATION MESSAGE-->
                        <div class="form-group" show-errors='{showSuccess: true}'>
                            <label class="control-label">Donation message</label>
                            <input type="text" class="form-control" name="message" ng-model="user.message" required
                                   placeholder="Message"/>
                        </div>

                        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                            <li class="active"><a href="#cred" data-toggle="tab">Credit/Debit</a></li>
                            <li><a href="#pay" data-toggle="tab">PayPal</a></li>
                        </ul>
                        <div id="my-tab-content" class="tab-content">

                            <!--CARD LAYOUT-->
                            <div class="tab-pane active" id="cred">
                                <!--NAME-->
                                <div class="form-group" show-errors='{showSuccess: true}'>
                                    <label class="control-label">Name</label>
                                    <input type="text" class="form-control" name="cardName" ng-model="user.cardName"
                                           ng-required="!user.payEmail.$valid || !user.payPassword.$valid"
                                           placeholder="Card Name"/>
                                    <p class="help-block" ng-if="userForm.cardName.$error.required">Your name is
                                        required</p>
                                </div>

                                <!--CARD NUMBER-->
                                <div class="form-group" show-errors='{showSuccess: true}'>
                                    <label class="control-label">Card number</label>
                                    <input type="number" class="form-control" name="cardNumber"
                                           ng-model="user.cardNumber"
                                           ng-required="!user.payEmail.$valid || !user.payPassword.$valid"
                                           placeholder="Card number" ng-minlength="16" ng-maxlength="16"/>
                                    <p class="help-block" ng-if="userForm.cardNumber.$error.required">A card number is
                                        required</p>
                                    <p class="help-block" ng-if="userForm.cardNumber.$error.minlength">This is not a
                                        valid card number</p>
                                    <p class="help-block" ng-if="userForm.cardNumber.$error.maxlength">This is not a
                                        valid card number</p>
                                    <p class="help-block" ng-if="userForm.cardNumber.$error.number">This is not a
                                        number</p>
                                </div>

                                <!--EXPIRATION DATE-->


                                <!--CVC NUMBER-->
                                <div class="form-group" show-errors='{showSuccess: true}'>
                                    <label class="control-label">Card number</label>
                                    <input type="number" class="form-control" name="cvc" ng-model="user.cvc"
                                           ng-required="!user.payEmail.$valid || !user.payPassword.$valid"
                                           placeholder="CVC" ng-minlength="3" ng-maxlength="3"/>
                                    <p class="help-block" ng-if="userForm.cvc.$error.required">A card number is
                                        required</p>
                                    <p class="help-block" ng-if="userForm.cvc.$error.minlength">This is not a valid card
                                        number</p>
                                    <p class="help-block" ng-if="userForm.cvc.$error.maxlength">This is not a valid card
                                        number</p>
                                    <p class="help-block" ng-if="userForm.cvc.$error.number">This is not a number</p>
                                </div>
                            </div>

                            <!--PAY PAL LAYOUT-->
                            <div class="tab-pane" id="pay">
                                <!--PAYPAL ACCOUNT-->
                                <div class="form-group" show-errors='{showSuccess: true}'>
                                    <label class="control-label">PayPal account email</label>
                                    <input type="email" class="form-control" name="payEmail" ng-model="user.payEmail"
                                           ng-required="!userForm.cardName.$valid && !userForm.cardNumber.$valid && !userForm.cvc.$valid"
                                           placeholder="Email"/>
                                    <p class="help-block" ng-if="userForm.payEmail.$error.required">A PayPal account
                                        email is required</p>
                                    <p class="help-block" ng-if="userForm.payEmail.$error.email">This is not a valid
                                        email address</p>
                                </div>

                                <!--PAYPAL PASSWORD-->
                                <div class="form-group" show-errors='{showSuccess: true}'>
                                    <label class="control-label">PayPal account password</label>
                                    <input type="password" class="form-control" name="payPassword"
                                           ng-model="user.payPassword"
                                           ng-required="!user.cardName.$valid || !user.cardNumber.$valid || !user.cvc.$valid"
                                           placeholder="password"/>
                                    <p class="help-block" ng-if="userForm.payPassword.$error.required">Your PayPal
                                        password is required</p>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" style="margin: 10px" ng-click="save()">Donate</button>
                        <button class="btn btn-primary" style="margin: 10px" ng-click="reset()">Clear form</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="footer"></div>

</body>
</html>