<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>KidsCoding</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/main.css">

    <!-- NAVBAR-->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="../js/Navbar.js"></script>

    <script>
        $(function(){
            $("#footer").load("footer.html");
        });
    </script>

    <link data-require="bootstrap-css@3.0.1" data-semver="3.0.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" />
    <script src="http://code.angularjs.org/1.2.5/angular.js" data-semver="1.2.5" data-require="angular.js@1.2.5"></script>
    <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script data-require="bootstrap@3.0.1" data-semver="3.0.1" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script src="../js/validate.js"></script>
    <script src="../js/discussion.js"></script>

    <style>
        .form-group .help-block {
            display: none;
        }

        .form-group.has-error .help-block {
            display: block;
        }
    </style>
    <script src="../js/UploadButtons.js"></script>
</head>


<body background="../images/logo-big.png" style = "background-repeat: no-repeat;background-attachment: fixed; background-position: bottom right; ">

    <div id="navbar"></div>

    <!--IMAGE AND TEXT-->
    <div class="container marketing">
        <div class = box>
            <img class="img-responsive center-block" src="../images/kids3.png" alt="First slide" title="Children enjoying the lecture" >

            <h2 class="featurette-heading subHeadingText">Why volunteer?</h2>
            <br/>
            <p class="lead bodyText">
                Help shape a child’s future.
            </p>
            <p class="bodyText">
                Get involved with this amazing course expand your own skill set and teach children of
                varying ages to program in languages such as Pascal and Python. Some other skills
                you may gain are planning a curriculum, managing a class and effective communication,
                as you will have to be able to explain how the program works at a level such that those
                with no experience can clearly understand what’s going on.
            </p>
            <p class="bodyText">
                The opportunities we offer could be invaluable for you if you wish to undertake technologically
                related career path. We encourage people of all ages with any kind of technological background
                from student to CEO of your own firm to apply. To find your nearest club, click here.
            </p>

            <div class="row">
                <div class="col-1">
                    <div class="col-md-5">
                        <img class="img-responsive" src="../images/Quote.png" title="Quote" style="float: left; margin-left: 10%; width: 10%; height: 10%">
                        <img class="img-responsive" src="../images/Quote2.png" title="Quote" style="float: right; margin-right: 10%; width: 10%; height: 10%">
                        <p class="bodyText" style = "text-align: center; display: inline-block;">
                            <br/><i><b>I just love
                            spending time teaching the kids. They are so excited and willing to learn.</b></i> - Jane 25</p>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <img class="img-responsive" src="../images/Quote.png" title="Quote" style="float: left; margin-left: 10%; width: 10%; height: 10%">
                        <img class="img-responsive" src="../images/Quote2.png" title="Quote" style="float: right; margin-right: 10%; width: 10%; height: 10%">
                        <p class="bodyText" style = "text-align: center; display: inline-block">
                            <br/><i><b>A very
                            rewarding way to spend your time! It's great experience. I loved it so much I am
                            training to become a teacher.</b></i> - Sam 21</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <img class="img-responsive" src="../images/Quote.png" title="Quote" style="float: left; margin-left: 10%; width: 8%; height: 8%">
                        <img class="img-responsive" src="../images/Quote2.png" title="Quote" style="float: right; margin-right: 10%; width: 8%; height: 8%">
                        <p class="bodyText" style = "text-align: center; display: inline-block">
                            <br/><i><b>I have grown my own skill range since being a volunteer at kids coding, I had the programming
                            knowledge but now I can interact and explain it to children.</b></i> - Tom 33
                    </div>
                </div>

                <p class="bodyText">
                    To be a volunteer you need programming experience in any language and an enthusiasm to
                    teach young minds. You would also need to be able to dedicate regular amounts of time to
                    running a session, once a week for a term (12 weeks). The responsibilities include preparing
                    content and resources each week.
                </p>
                <p class="bodyText">
                    Fill in the form below with your personal details, upload a CV detailing any programming
                    experience or past experience dealing with children. Upload a valid DBS check and Kids Coding will get in touch.
                </p>

                <div class = "row">
                    <div class = "col-md-1"></div>

                    <div class = "col-md-5">
                        <input type="text" id = "messageInput" class="form-control" name="messageInput" required placeholder="Send a message">
                        <button class="btn btn-primary" onclick="addNewThread()">Start new thread</button>
                        <div id="discussionThread"></div>
                    </div>

                    <div class = "col-md-5">
                        <div ng-app="app" ng-controller="NewUserController">
                            <form name="userForm" novalidate>
                                <!--NAME-->
                                <div class="form-group" show-errors='{showSuccess: true}'>
                                    <label class="control-label">Name</label>
                                    <input type="text" class="form-control" name="name" ng-model="user.name" required placeholder="Name" />
                                    <p class="help-block" ng-if="userForm.name.$error.required">Your name is required</p>
                                </div>

                                <!--AGE-->
                                <div class="form-group" show-errors='{showSuccess: true}'>
                                    <label class="control-label">Donation amount</label>
                                    <input type="number" class="form-control" name="age" ng-model="user.age" required placeholder="Age"
                                           min="18"/>
                                    <p class="help-block" ng-if="userForm.age.$error.required">You must specify your age</p>
                                    <p class="help-block" ng-if="userForm.age.$error.min">You must be 16 or over to volunteer</p>
                                    <p class="help-block" ng-if="userForm.age.$error.number">This is not a number</p>
                                </div>

                                <!--OCCUPATION-->
                                <div class="form-group" show-errors='{showSuccess: true}'>
                                    <label class="control-label">Current occupation</label>
                                    <input type="text" class="form-control" name="occupation" ng-model="user.occupation" required placeholder="Occupation" />
                                    <p class="help-block" ng-if="userForm.occupation.$error.required">Your occupation is required (i.e Unemployed, Student, Programmer)</p>
                                </div>

                                <!--DONATION MESSAGE-->
                                <div class="form-group" show-errors='{showSuccess: true}'>
                                    <label class="control-label">Donation message</label>
                                    <input type="text" class="form-control" name="message" ng-model="user.message" required placeholder="Message"/>
                                </div>

                                <!--PHONE-->
                                <div class="form-group" show-errors='{showSuccess: true}'>
                                    <label class="control-label">Phone number</label>
                                    <input type="number" class="form-control" name="phone" ng-model="user.phone" required placeholder="phone"
                                           ng-minlength="11" ng-maxlength="11"/>
                                    <p class="help-block" ng-if="userForm.phone.$error.required">A phone number is required</p>
                                    <p class="help-block" ng-if="userForm.phone.$error.minlength">This is not a valid phone number</p>
                                    <p class="help-block" ng-if="userForm.phone.$error.maxlength">This is not a valid phone number</p>
                                    <p class="help-block" ng-if="userForm.phone.$error.number">This is not a number</p>
                                </div>

                                <!--EMAIL-->
                                <div class="form-group" show-errors='{showSuccess: true}'>
                                    <label class="control-label">Email</label>
                                    <input type="email" class="form-control" name="email" ng-model="user.email" required placeholder="Email" />
                                    <p class="help-block" ng-if="userForm.email.$error.required">Your email is required</p>
                                    <p class="help-block" ng-if="userForm.email.$error.email">This is not a valid email address</p>
                                </div>

                                <!--ADDRESS-->
                                <!--ADDRESS LINE-->
                                <div class="form-group" show-errors='{showSuccess: true}'>
                                    <label class="control-label">Address line 1</label>
                                    <input type="text" class="form-control" name="addressLine1" ng-model="user.addressLine1" required placeholder="Address line 1" />
                                    <p class="help-block" ng-if="userForm.addressLine1.$error.required">Your address is required</p>
                                </div>

                                <!--ADDRESS LINE-->
                                <div class="form-group" show-errors='{showSuccess: true}'>
                                    <label class="control-label">Address line 2</label>
                                    <input type="text" class="form-control" name="addressLine2" ng-model="user.addressLine2" required placeholder="Address line 2" />
                                </div>

                                <!--ADDRESS LINE-->
                                <div class="form-group" show-errors='{showSuccess: true}'>
                                    <label class="control-label">Address line 3</label>
                                    <input type="text" class="form-control" name="addressLine3" ng-model="user.addressLine3" required placeholder="Address line 3" />
                                </div>

                                <!--TOWN/CITY-->
                                <div class="form-group" show-errors='{showSuccess: true}'>
                                    <label class="control-label">Town/City</label>
                                    <input type="text" class="form-control" name="townCity" ng-model="user.townCity" required placeholder="Town/City" />
                                    <p class="help-block" ng-if="userForm.townCity.$error.required">Your town/city name is required</p>
                                </div>

                                <!--COUNTY-->
                                <div class="form-group" show-errors='{showSuccess: true}'>
                                    <label class="control-label">County</label>
                                    <input type="text" class="form-control" name="county" ng-model="user.county" required placeholder="County" />
                                    <p class="help-block" ng-if="userForm.county.$error.required">Your county is required</p>
                                </div>

                                <!--POST CODE-->
                                <div class="form-group" show-errors='{showSuccess: true}'>
                                    <label class="control-label">Post code</label>
                                    <input type="text" class="form-control" name="postCode" ng-model="user.addressLine1" required placeholder="Post code" />
                                    <p class="help-block" ng-if="userForm.postCode.$error.required">Your post code is required</p>
                                </div>

                                <!--UPLOADS-->
                                <div style="margin: 20px">
                                    <div class = "row">
                                        <div class="fileUpload btn btn-primary" style="width: 200px">
                                            <span style="text-align: center">Upload DBS(CRB)</span>
                                            <input id="uploadCRBButton" type="file" class="upload"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="fileUpload btn btn-primary" style="width: 200px">
                                            <span style="text-align: center">Upload CV</span>
                                            <input id="uploadCVButton" type="file" class="upload" />
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-primary" style="margin-bottom: 20px" ng-click="save()">Volunteer</button>
                                <button class="btn btn-primary" style="margin-bottom: 20px" ng-click="reset()">Clear form</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id = "footer"></div>

</body>
</html>